@import url('https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');


body {
    background-color: #f4f5f7;
}

.navbar {
    margin-bottom: 20px;
    justify-content: flex-start;

}


.navbar-nav .nav-link {
    padding: 20px;
    font-size: 18px;
    color: #333;
    transition: background-color 0.3s;
}
.navbar .navbar-brand i{
    font-size: 25px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 22%;
    height: 100vh;
    background-color: #073775;
    padding-top: 55px;
    color: #fff;
}

.sidebar #menu {
    font-size: 30px;
    color: #08bada;
}

.sidebar .nav-link {
    margin: 10px;
    font-size: 17px;
    color: #eceaea;
    transition: background-color 0.3s;
}
.sidebar .nav-link i{
    margin: 5px;
}
.sidebar .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    color: rgb(246, 246, 250);
    font-weight:500;
}

.content {
    margin-left: 320px;
    padding: 5px;
}
.content h1{
    font-size: 25px;
}

.active {
    display: none;
}

.dashboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard-card {
    width: 300px;
    height: 120px;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dashboard-card h2 {
    margin-top: 0;
    font-size: 18px;
    font-weight: bold;
}


.transactions-container {
    margin-bottom: 30px;
}

.transactions-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.transaction {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f8f8f8;
}

.transaction p {
    margin: 5px 0;
}

.transaction p:first-child {
    font-weight: bold;
}


.form-container {
    max-width: 500px;
    margin: 0 auto;
    border: #c7c8c9 solid 1px;
    border-radius: 5px;
    padding: 10px;
}
.form-container h1{
    margin-bottom: 20px;
    color: #313131;
    background-color: #ebecee;
    padding: 10px;
    border-radius: 5px;
}
.form-group {
    margin-bottom: 20px;
}


.btn-submit {
    background-color: #167c9b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.btn-add {
    background-color: #167c9b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.tag-container {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: #eee;
    border-radius: 5px;
}
.progress {
    margin-bottom: 20px;
}

.btn-export {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.login-container {
    margin-top: 150px;
  }
  #msg{
  background-color: rgb(238, 135, 135,0.7);
  color:white;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
}
.alert.alert-success {
    animation-name: fadeOut;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    opacity: 1;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

    .delete-button {
        background-color: #ee707d;
        color: #fff;
        border: none;
        padding: 10px 70px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        margin-top: 10px;
    }

    .delete-button:hover {
        background-color: #ee3749;
    }

    .alert.success {
        background-color: #dff0d8;
        border-color: #d6e9c6;
        color: #3c763d;
    }
    
    .alert.error {
        background-color: #f2dede;
        border-color: #ebccd1;
        color: #a94442;
    }
   
    
    
    
    